{{!< default}}

<main class="content" role="main">

    {{#foreach posts}}

    <article class="preview">
        <header>
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
            <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}} -- Permalink: <a href="{{url}}"> &#9758; </a></time></div>
        </header>
        <section class="post-excerpt">
            <p>{{content}}</p>
            <!-- <p class="readmore"><a href="{{url}}"> <h2>&#9758;</h2> </a></p> -->
            <section class="share">
            <p class="info">Share this post</p>
            <a class="icon-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <span class="hidden">Twitter</span>
            </a>
            <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <span class="hidden">Facebook</span>
            </a>
            <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <span class="hidden">Google+</span>
            </a>
        </section>
        </section>
    </article>


    {{/foreach}}

    {{pagination}}

</main>
