{{!< default}}

<main class="content" role="main">

    {{#foreach posts}}

    <article class="preview">
        <header>
            {{#has tag="Link Posts"}}
                <h1 class="post-title"><a href="{{canonical_url}}">{{{title}}}</a> - <a href="{{url}}">&#8734;</a></h1>
            {{else}}
		         <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
	        {{/has}}
            <div class="post-meta"><time class="post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss.SS\Z"}}">...</time>
            <br>
            {{reading_time}}
            </div>
        </header>
        <section class="post-excerpt">
            <p>{{content}}</p>
            <!-- <p class="readmore"><a href="{{url}}"> <h2>&#9758;</h2> </a></p> -->
            <section class="share">
                <p class="info prompt">Share it</p>
                <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <i class="fa fa-2x fa-fw fa-twitter"></i> <span class="hidden">Twitter</span>
                </a>
            </section>
        </section>
        </section>
    </article>


    {{/foreach}}

    {{pagination}}

</main>
